body { 
    overflow-x: hidden;
}

.jumbotron {
    background: url("vavoombig.png");
    height:550px;
    color:white;
}

.jumbotron-text {
    margin-top:370px;
}

h2 {
    text-align:center;
}

.second, .third {
    text-align:center;
}

.showlist {
    text-align:center;
}

footer {
    text-align:center;
}